<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932292445959-e5crnjodenh55fjqgnf5l8gafpso0fs3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932292445959-e5crnjodenh55fjqgnf5l8gafpso0fs3</string>
	<key>API_KEY</key>
	<string>AIzaSyCpZQSCV9qIEwmgoINC0-thLXqhtUud7PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>932292445959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.limflutter</string>
	<key>PROJECT_ID</key>
	<string>exam-cb5c8</string>
	<key>STORAGE_BUCKET</key>
	<string>exam-cb5c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932292445959:ios:2ce154fa5e8fed6068e7a2</string>
</dict>
</plist>